main {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  main:after {
    content: " ";
    display: block;
    clear: both; }

body {
  margin: 0;
  background-color: slategrey; }

a {
  text-decoration: none;
  color: inherit; }

hr {
  margin-right: 10px; }

footer {
  width: 82.4074074074%;
  float: left;
  margin-left: 0.462962963%;
  margin-right: 0.462962963%;
  height: 50vh; }

.backdrop {
  position: fixed;
  top: 0;
  background: black;
  width: 100%;
  height: 100vh;
  z-index: 20;
  opacity: .8;
  display: none;
  transition: .6s; }

.logo {
  overflow: hidden;
  position: fixed;
  padding: 20px 0px 30px 0px;
  top: 0px;
  z-index: 20;
  left: -1px;
  color: white !important;
  transition: .6s; }
  .logo .name {
    transition: .6s;
    width: 99.0740740741%;
    float: left;
    margin-left: 0.462962963%;
    margin-right: 0.462962963%;
    background-color: black;
    text-transform: uppercase;
    padding: 10px 25px 10px 10px;
    margin-top: -20px;
    font-size: 30pt;
    font-family: "Playfair Display", serif;
    font-weight: 100; }
    @media only screen and (min-width: 321px) and (max-width: 1023px) {
      .logo .name {
        font-size: 50pt; } }
  .logo:hover {
    opacity: 1 !important;
    cursor: pointer; }
  .logo p {
    font-size: 9pt;
    font-weight: 100;
    line-height: 15.6pt;
    font-family: "Libre Baskerville", serif;
    padding-left: 40px; }
  .logo h2 {
    padding-top: 20px;
    font-size: 10pt;
    font-family: "Libre Baskerville", serif;
    font-weight: 100;
    line-height: 15pt;
    padding-left: 40px; }
  .logo a {
    display: block; }

.menuicon {
  cursor: pointer;
  position: fixed;
  top: 0px;
  z-index: 20;
  left: 300px;
  width: 72px;
  height: 72px;
  margin: 0;
  font-size: 30pt;
  background-color: black;
  color: white;
  transition: .6s; }
  .menuicon img {
    pointer: cursor;
    width: 100%; }
  .menuicon:hover {
    opacity: 1 !important; }

.popupmenu {
  display: none; }

.navItem {
  width: 24.0740740741%;
  float: left;
  margin-left: 0.462962963%;
  margin-right: 0.462962963%;
  position: fixed;
  z-index: 20;
  margin: 0;
  top: 45%;
  left: 18%;
  transform: translate(0, -50%);
  padding: 10px;
  color: white;
  transition: .6s; }
  .navItem a {
    display: block;
    padding-top: 20px;
    font-size: 15pt;
    font-family: "Libre Baskerville", serif;
    font-weight: 100;
    line-height: 30pt;
    text-transform: uppercase;
    transition: .6s; }
    .navItem a:hover {
      letter-spacing: 5pt;
      transition: .6s;
      color: yellow; }

.about {
  width: 35.7407407407%;
  float: left;
  margin-left: 0.462962963%;
  margin-right: 0.462962963%;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  z-index: 20;
  padding: 10px;
  color: white; }
  .about p {
    font-size: 20pt;
    font-weight: 100;
    line-height: 30pt;
    font-family: "Libre Baskerville", serif;
    color: white; }

.nav {
  top: 23px;
  z-index: 20;
  background-color: black;
  display: none;
  position: fixed;
  left: 15px; }
  .nav h3 {
    margin: 5px;
    text-transform: uppercase;
    font-size: 20pt;
    color: white;
    font-family: "Playfair Display", serif;
    font-weight: 100; }
    @media only screen and (min-width: 321px) and (max-width: 1023px) {
      .nav h3 {
        font-size: 50pt; } }

.rightside {
  width: 99.0740740741%;
  float: left;
  margin-left: 0.462962963%;
  margin-right: 0.462962963%; }
  @media only screen and (min-width: 321px) and (max-width: 1023px) {
    .rightside {
      width: 99.0740740741%;
      float: left;
      margin-left: 0.462962963%;
      margin-right: 0.462962963%; } }

.item {
  transition: .2s;
  width: 49.0740740741%;
  float: left;
  margin-left: 0.462962963%;
  margin-right: 0.462962963%; }
  .item img {
    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-box-shadow: 3px 4px 12px -4px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 3px 4px 12px -4px rgba(0, 0, 0, 0.55);
    box-shadow: 3px 4px 12px -4px rgba(0, 0, 0, 0.55); }
    @media only screen and (min-width: 321px) and (max-width: 1023px) {
      .item img {
        width: 99.0740740741%;
        float: left;
        margin-left: 0.462962963%;
        margin-right: 0.462962963%;
        margin: 0.5vh 0 0.5vh 0; } }
  .item h1 {
    font-size: 20pt;
    font-weight: 100;
    font-style: italic;
    margin: 0; }
    @media only screen and (min-width: 321px) and (max-width: 1023px) {
      .item h1 {
        font-size: 30pt;
        padding: 10px 0px 0px 10px;
        max-width: 120ch; } }
  .item p {
    font-size: 9pt;
    font-weight: 100;
    padding-top: 10px;
    max-width: 30ch;
    margin: 0;
    line-height: 12pt; }
    @media only screen and (min-width: 321px) and (max-width: 1023px) {
      .item p {
        font-size: 18pt;
        line-height: 25pt;
        padding: 10px 10px 20px 10px;
        max-width: 200ch; } }
  .item:hover {
    transition: .6s; }
  @media only screen and (min-width: 321px) and (max-width: 1023px) {
    .item {
      width: 99.0740740741%;
      float: left;
      margin-left: 0.462962963%;
      margin-right: 0.462962963%; } }

.item2 {
  width: 32.4074074074%;
  float: left;
  margin-left: 0.462962963%;
  margin-right: 0.462962963%;
  height: 45vh;
  overflow: hidden;
  -webkit-box-shadow: 3px 4px 12px -4px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 3px 4px 12px -4px rgba(0, 0, 0, 0.55);
  box-shadow: 3px 4px 12px -4px rgba(0, 0, 0, 0.55);
  margin-top: 2.5vh;
  transition: .2s; }
  .item2 h1 {
    font-size: 20pt;
    font-weight: 100;
    font-style: italic;
    margin: 0; }
  .item2 p {
    font-size: 9pt;
    font-weight: 100;
    padding-top: 5px;
    max-width: 70ch;
    margin: 0;
    line-height: 12pt; }
  .item2:hover {
    transform: scale(1.03);
    transition: .6s; }
  .item2 .label {
    width: 82.4074074074%;
    float: left;
    margin-left: 0.462962963%;
    margin-right: 0.462962963%;
    color: black;
    background-color: none;
    margin: 1vh 0vh 2.5vh 0;
    padding: 15px; }
  .item2 .imgcovers {
    width: 99.0740740741%;
    float: left;
    margin-left: 0.462962963%;
    margin-right: 0.462962963%; }
  @media only screen and (min-width: 321px) and (max-width: 1023px) {
    .item2 {
      width: 99.0740740741%;
      float: left;
      margin-left: 0.462962963%;
      margin-right: 0.462962963%; } }

.title {
  position: fixed;
  top: 155px;
  right: -110px;
  width: 300px;
  color: #434e58;
  transform: rotate(90deg);
  font-family: "Libre Baskerville", serif;
  z-index: 400; }
  .title h1 {
    font-size: 15pt;
    font-weight: 100; }
