$susy: (
    columns:12,
    gutters:1/8,
    gutter-position: split,

);

main{
    @include container(100%);
}

body{
    margin: 0;
    background-color:slategrey;
}

a{
    text-decoration: none;
    color:inherit;
}
hr{
    margin-right:10px;
}
footer{
    @include span(10);
    height: 50vh;
}
